.todoItem, .todoBlock {
display: flex;
max-width: 345px;
word-wrap:  break-word;
flex-direction: column;
gap: 18px;
margin: 15px;
padding: 15px 18px;
border: 2px solid black;
border-radius: 25px;
font-family: 'Poppins'
}

.title, .description{
    line-height: 1.3;
}

.todoItem{
    background: #90EE90;
}

.cancel__button, .submit__button, .edit__button, .delete__button {
width: 80px;
font-family: 'Poppins'
}

.cancel__button, .edit__button{
    margin-right: 5px;
}

.userBlock{
    margin-right: 50px;
    font-family: 'Poppins'
}

.buttons{
align-self: flex-end;
}

.todoBlock__item{
    display: flex;
    justify-content: space-between;
}

.todoBlock_colorGreen{
    background: #90EE90;
}